.serieslist-container {
  width: 100%;
  height: 100%;
  /*overflow-y:auto;*/
}

.serieslist {
  /*-webkit-overflow-scrolling: touch;*/
  /*padding: 2rem 0;*/
}

.serieslist hr {
  /*margin: 1rem;*/
}

.slist-category {
  /* margin: 0 -0.1rem; */
  padding: 2rem 0;
}

.slist-cat-title {
  padding-left: 0.5rem;
  margin: 2rem 0;
  font-weight: 100;
  color: #777;
  text-transform: uppercase;
}

.sitem {
  display: inline-block;
  vertical-align: top;
  /*box-shadow: 0px 0px 5px 0 #dadada;*/
  /*border: 1px solid #dadada;*/
  width: calc(100% / 3 - 0.5rem);
  margin: 0.25rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.sitem-img {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  border-radius: 6px;
}

.sitem-img-container {
  cursor: pointer;
  box-shadow: 0 3px 5px 0 #ddd;
  border-radius: 6px;
}

.sitem-text {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: baseline;
}

.sitem-title {
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #222;
  line-height: 1.3;
  font-size: 0.9rem;
  padding-right: 5px;
}

.sitem-status,
.sitem-date {
  font-size: 0.8rem;
  color: #888;
  /* background-color: rgba(0,0,0,0.4); */
  /* padding: 0.1rem 0.3rem; */
  /*border-radius: 3px;*/
}

.sitem-status {
  bottom: 0rem;
  left: 0rem;
  border-radius: 0 3px 0 0;
}

.sitem-date {
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 3px;
}

.filter-controls {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: inline-block;
    margin: 0 0.5rem;
    cursor: pointer;
  }
}

.filters {
}

footer {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;

  a {
    text-decoration: none;
    border-bottom: 1px solid #888;
    color: #333;

    &:hover {
      color: #aaa;
    }
  }
}

@media screen and (min-width: 668px) {
  .slist-category {
    margin: 0;
  }

  .sitem-title {
    font-size: calc(15px * 0.833);
  }

  .sitem-date,
  .sitem-status {
    font-size: calc(14px * 0.833);
  }

  .sitem-img-container {
    cursor: pointer;
    box-shadow: 0 3px 5px 0 #ddd;
    border-radius: 6px;
  }

  .sitem {
    margin: 0.5rem;
    width: calc(100% / 5 - 1rem);
  }

  .sitem-img {
    border-radius: 6px;
  }

  .slist-cat-title {
    padding-bottom: 0.2rem;
  }

  .sitem-text {
    padding: 0.4rem 0;
  }
}

@media screen and (min-width: 1366px) {
  .sitem {
    width: calc(100% / 7 - 1.001rem);
  }

  .sitem-title {
    font-size: calc(16px * 0.833);
  }

  .sitem-date,
  .sitem-status {
    font-size: calc(15px * 0.833);
  }

  .sitem-img-container {
    transition: 65ms ease-in;

    &:hover {
      margin-top: -4px;
      margin-bottom: 4px;
      box-shadow: 0 10px 15px 0 #dcdcdc;
    }

    &:active {
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: 0 3px 5px 0 #ddd;
    }
  }
}
