.modalBG {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
}

.modal {
  position: fixed;
  background-color: hsl(204, 6%, 98%);
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  z-index: 3;

  hr {
    margin: 2rem 0;
  }

  a {
    text-decoration: none;
  }
}

.link:hover {
  cursor: pointer;
  /* color:#aaa; */
}

.modal-img-container {
  display: inline-block;
  background-color: #eee;
  height: inherit;

  img {
    width: 0px;
    vertical-align: top;
  }
}

.modal-right {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: inherit;
  position: relative;
  box-shadow: inset 8px 0 8px -8px #eee;
}

.modal-text {
  height: inherit;
  padding: 2rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-header {
  font-weight: 800;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 0.9;
}

.modal-subheader {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 0.6;
  font-weight: 200;
}

.modal-chapters-container {
  margin: 0 -0.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  a {
    color: #222;

    &:visited {
      color: #888;
    }
  }
}

.modal-chapter {
  /*box-shadow: 1px 1px 3px 1px #eee;*/
  border: 1px solid #ddd;
  padding: 0.6rem 1.5rem;
  margin: 0.3rem;
  width: calc(100% / 2 - 0.6rem);
  display: inline-block;
  /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
  cursor: pointer;
  border-radius: 8px;
}

.modal-chapter:hover {
  border-color: rgba(0, 0, 0, 0.55);
  transition: border 500ms ease-in;
}

.show-more {
  margin: 0.3rem;
  background: #fff;
  box-shadow: 1px 1px 3px 1px #eee;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  padding: 4px 0;
  cursor: pointer;
  font-size: 0.7em;
}

.modal-synopsis {
  margin: 2rem 0;

  p {
    line-height: 1.5;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

.modal-chapter-num,
.modal-chapter-date {
  display: inline-block;
  /* text-align: center; */
}

.modal-chapter-num {
  width: 100px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

.modal-chapter-date {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7rem;
  color: #aaa;
  /*text-align: right;*/
}

.modal-link-section {
  text-align: center;
  color: #888;
  font-size: 0.8rem;

  a {
    color: #888;
  }
}

.modal-links {
  font-weight: 400 !important;
  padding-right: 1rem;
}

.modal-actions {
  /* position:absolute; */
  /* bottom:0; */
  /* left:0; */
  /* right:0; */
  /* border-top:1px solid #eee; */
  text-align: center;
  margin: 2rem 0rem;
  /* background-color:#fff; */
}

/* Tablet  */
@media screen and (min-width: 720px) {
  .modal {
    width: 700px;
    height: 500px;

    img {
      width: 350px;
      height: inherit;
    }
  }

  .modal-right {
    width: 350px;
    height: inherit;
  }
}

@media screen and (min-width: 1025px) {
  .modal {
    width: 980px;
    height: 650px;

    img {
      width: 457px;
      height: inherit;
    }
  }

  .modal-right {
    width: 523px;
    height: inherit;
  }
}
